name: Deploy Flowblog

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # 1. 构建前端 (Vue)
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22' # 如果你用的是 18+，请修改这里

    - name: Build Frontend
      run: |
        cd blog-frontend
        npm install
        npm run build

    # 2. 构建后端 (Java)
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build Backend
      run: |
        cd blog-backend
        mvn clean package -DskipTests

    # 3. 传输文件到服务器
    - name: Copy files via SCP
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        # 传输 Jar 包
        source: "blog-backend/target/*.jar"
        target: "/home/flowblog/blog-backend"
        strip_components: 2
        
    - name: Copy Frontend files
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        # 传输前端静态文件
        source: "blog-frontend/dist/*"
        target: "/home/flowblog/blog-frontend"
        strip_components: 2

    # 4. 远程重启
    - name: Execute restart script
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
          # 强制重命名，确保脚本能找到
          mv /home/flowblog/blog-backend/*.jar /home/flowblog/blog-backend/flowblog.jar
          # 执行重启
          sh /home/flowblog/restart.sh